streamlit==1.46.0
pandas==2.3.0
numpy==1.26.0
matplotlib==3.10.3
seaborn==0.13.2
scikit-learn==1.7.0
statsmodels==0.14.4
neuralprophet==0.7.0
prophet==1.1.7
tensorflow==2.19.0
plotly==5.24.1
lightgbm  
ipywidgets>=7.0.0
optuna